

header{
	background-image: url("../img/banner-bg.png"); 
  width: 100%;
}
 	
.watch-section span{
	background-image: url(../img/icons/video-icon.png);
	color: #fff; 
	padding: 40px; 
	text-align: center; 
	border-radius: 50%; 
	border: 5px solid #fff;	
}
.watch-section span:hover{
	border: 5px solid grey;	
}

.infomation_section p{
  padding-left: 20px;
  padding-right: 20px;
}


/*Slick slider*/
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

.info-section{

	background-image: url(../img/icons/footer-bg.jpg);
}


/*Scrop to top*/
.btn-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #504ee4;

}


/*Footer */
footer{
	background-color: #64b5f6;
}


footer span i{
	color: #fff;
  cursor: pointer;
}
footer span i{
  font-size: 
}


@media (max-width: 1000px){
  .header-subtitle{
    padding-top: 50px;
    font-size: 18px;
}

}


@media (max-width: 500px){
  #aboutusheaderNavbar{
    background-color: #f5f5f5;
    text-align: center;
    opacity: 0.8;
  } 

}

@media (max-width: 800px){
  footer{
    text-align: center;
    margin: auto;
  }
  
  .footer_right{
    text-align: center;
    padding-top: 20px;
    float: left;
  }
}