
	/*Index.html*/
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: 2s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0.5;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
} 

#carouselExampleControls{
  padding-bottom: 85px;
}
#carouselExampleControls .carousel-item{
  padding-top: 110px;
}



footer{
	background-color: #64b5f6;
}


footer span i{
	color: white;
}


